.categories {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  font-family: 'Comfortaa', sans-serif;
}

.categories__row {
  height: 20%;
}

.categories__cell {
  font-size: 2vw;
  font-family: 'Comfortaa', sans-serif;
}

.categories__cell_cost {
  text-align: center;
}
